# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.env/
.venv/
ENV/
env.bak/
venv.bak/

# Secrets
*.env

# Логи
*.log

# Системные файлы
.DS_Store
Thumbs.db

# Файлы конфигурации
config.py
config.yaml
